@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-dvnxis');
	src:url('fonts/icomoon.eot?#iefix-dvnxis') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-dvnxis') format('truetype'),
		url('fonts/icomoon.woff?-dvnxis') format('woff'),
		url('fonts/icomoon.svg?-dvnxis#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pb-app-icon-appointment:before {
	content: "\e600";
}
.icon-pb-app-icon-data:before {
	content: "\e601";
}
.icon-pb-app-icon-progress:before {
	content: "\e602";
}
.icon-pb-app-icon-sharing:before {
	content: "\e603";
}
